---
import Layout from "../layouts/Layout.astro"
---

<Layout title="About the proyect">
    <h4 class="font-3xl text-center text-gray-400">
        All the information abou this proyect
    </h4>
</Layout>