---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Oldest Launches">
    <h5 class="font-3xl text-center text-gray-400">
        All the information about the oldest launches
    </h5>
</Layout>